# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
#demo
/Docs/NG-Book 2 The Complete Book on AngularJS 2/

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
/OSAService/packages

#visual studio
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.dbmdl
.vs
*.jfm
